<ul class="depth1">
    <li>
        <div class="tit">
            <button class="clear on">
                <h3>등록공장정보<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p th:text="공장정보"></p>
                <input type="text" th:value='${data.col4}' style="display: none;">
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>시도명</h4>
                    <p th:text="${data.col1}"></p>
                </li>           
                <li class="clear">
                    <h4>시군구명</h4>
                    <p th:text="${data.col2}"></p>
                </li>    
                <li class="clear">
                    <h4>관리기관</h4>
                    <p th:text="${data.col3}"></p>
                </li>    
                <li class="clear">
                    <h4>회사명</h4>
                    <p th:text="${data.col4}"></p>
                </li>    
                <li class="clear">
                    <h4>공장구분</h4>
                    <p th:text="${data.col5}"></p>
                </li>    
                <li class="clear">
                    <h4>단지명</h4>
                    <p th:text="${data.col6}"></p>
                </li>    
                <li class="clear">
                    <h4>설립구분</h4>
                    <p th:text="${data.col7}"></p>
                </li>    
                <li class="clear">
                    <h4>입주형태</h4>
                    <p th:text="${data.col8}"></p>
                </li>    
                <li class="clear">
                    <h4>보유구분</h4>
                    <p th:text="${data.col9}"></p>
                </li>    
                <li class="clear">
                    <h4>최초승인일</h4>
                    <p th:text="${data.col10}"></p>
                </li>    
                <li class="clear">
                    <h4>최초등록일</h4>
                    <p th:text="${data.col11}"></p>
                </li>    
                <li class="clear">
                    <h4>등록구분</h4>
                    <p th:text="${data.col12}"></p>
                </li>    
                <li class="clear">
                    <h4>등록일</h4>
                    <p th:text="${data.col13}"></p>
                </li>    
                <li class="clear">
                    <h4>전화번호</h4>
                    <p th:text="${data.col14}"></p>
                </li>    
                <li class="clear">
                    <h4>남자종업원</h4>
                    <p th:text="${data.col15}"></p>
                </li>    
                <li class="clear">
                    <h4>여자종업원</h4>
                    <p th:text="${data.col16}"></p>
                </li>    
                <li class="clear">
                    <h4>외국인남자종업원</h4>
                    <p th:text="${data.col17}"></p>
                </li>    
                <li class="clear">
                    <h4>외국인여자종업원</h4>
                    <p th:text="${data.col18}"></p>
                </li>    
                <li class="clear">
                    <h4>종업원합계</h4>
                    <p th:text="${data.col19}"></p>
                </li>    
                <li class="clear">
                    <h4>생산품</h4>
                    <p th:text="${data.col20}"></p>
                </li>    
                <li class="clear" style="background-color: #CCECFF;">
                    <h4>원자재</h4>
                    <b><u><p th:text="${data.col21}"></p></u></b>
                </li>    
                <li class="clear">
                    <h4>공장규모</h4>
                    <p th:text="${data.col22}"></p>
                </li>    
                <li class="clear">
                    <h4>용도지역</h4>
                    <p th:text="${data.col23}"></p>
                </li>    
                <li class="clear">
                    <h4>지목</h4>
                    <p th:text="${data.col24}"></p>
                </li>    
                <li class="clear">
                    <h4>용지면적</h4>
                    <p th:text="${data.col25}"></p>
                </li>    
                <li class="clear">
                    <h4>제조시설면적</h4>
                    <p th:text="${data.col26}"></p>
                </li>    
                <li class="clear">
                    <h4>부대시설면적</h4>
                    <p th:text="${data.col27}"></p>
                </li>    
                <li class="clear">
                    <h4>건축면적</h4>
                    <p th:text="${data.col28}"></p>
                </li>    
                <li class="clear">
                    <h4>지식산업센터명</h4>
                    <p th:text="${data.col29}"></p>
                </li>    
                <li class="clear">
                    <h4>대표업종</h4>
                    <p th:text="${data.col30}"></p>
                </li>    
                <li class="clear">
                    <h4>업종명</h4>
                    <p th:text="${data.col31}"></p>
                </li>    
                <li class="clear">
                    <h4>업종코드</h4>
                    <p th:text="${data.col32}"></p>
                </li>    
                <li class="clear">
                    <h4>차수</h4>
                    <p th:text="${data.col33}"></p>
                </li>    
                <li class="clear">
                    <h4>법인주소</h4>
                    <p th:text="${data.col34}"></p>
                </li>    
                <li class="clear">
                    <h4>필지수</h4>
                    <p th:text="${data.col35}"></p>
                </li>    
                <li class="clear">
                    <h4>공장주소</h4>
                    <p th:text="${data.col36}"></p>
                </li>    
                <li class="clear">
                    <h4>공장주소_지번</h4>
                    <p th:text="${data.col37}"></p>
                </li>    
                <li class="clear">
                    <h4>공장관리번호</h4>
                    <p th:text="${data.col38}"></p>
                </li>    
            </ul>
        </div>
    </li>
</ul>
