<ul class="depth1">
    <li>
        <div class="tit">
            <button class="clear on">
                <h3>하수처리시설<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>시설정보</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>시도</h4>
                    <p th:text="${data.col1}"></p>
                </li>
                <li class="clear">
                    <h4>시군구</h4>
                    <p th:text="${data.col2}"></p>
                </li>
                <li class="clear">
                    <h4>운영주체(자체/공기업/민간대행)</h4>
                    <p th:text="${data.col51}"></p>
                </li>
                <li class="clear">
                    <h4>시설명(500돈/일이상/미만)</h4>
                    <p th:text="${data.col3}"></p>
                </li>
                <li class="clear">
                    <h4>소재지</h4>
                    <p th:text="${data.col4}"></p>
                </li>
                <li class="clear">
                    <h4>전화번호</h4>
                    <p th:text="${data.col37}"></p>
                </li>
                <li class="clear">
                    <h4>위탁업체명</h4>
                    <p th:text="${data.col52}"></p>
                </li>
                <li class="clear">
                    <h4>중심처리시설</h4>
                    <p th:text="${data.col56}"></p>
                </li>
                <li class="clear">
                    <h4>직원총수(명)</h4>
                    <p th:text="${data.col57}"></p>
                </li>
                <li class="clear">
                    <h4>안전사고건수(건/인/년)</h4>
                    <p th:text="${data.col58}"></p>
                </li>
                <li class="clear">
                    <h4>재생에너지이용률(%)</h4>
                    <p th:text="${data.col48}"></p>
                </li>
                <li class="clear">
                    <h4>연간 총 전력사용량(㎾h/년)</h4>
                    <p th:text="${data.col49}"></p>
                </li>
                <li class="clear">
                    <h4>하수처리량당CO2배출량(㎏CO2/㎥)</h4>
                    <p th:text="${data.col50}"></p>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="tit">
            <button class="clear">
                <h3>처리기술력<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>---</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>처리방법</h4>
                    <p th:text="${data.col31}"></p>
                </li>
                <li class="clear">
                    <h4>처리효율</h4>
                    <p th:text="${data.col29}"></p>
                </li>
                <li class="clear">
                    <h4>처리부하량(kgBOD/D)</h4>
                    <p th:text="${data.col30}"></p>
                </li>
                <li class="clear">
                    <h4>적용신기술</h4>
                    <p th:text="${data.col32}"></p>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="tit">
            <button class="clear">
                <h3>시설<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>---</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>시설용량</h4>
                    <p th:text="${data.col5}"></p>
                </li>
                <li class="clear">
                    <h4>물리적(톤/일)</h4>
                    <p th:text="${data.col6}"></p>
                </li>
                <li class="clear">
                    <h4>생물학적(톤/일)</h4>
                    <p th:text="${data.col7}"></p>
                </li>
                <li class="clear">
                    <h4>고도(톤/일)</h4>
                    <p th:text="${data.col8}"></p>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="tit">
            <button class="clear">
                <h3>유입<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>---</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>유입하수량</h4>
                    <p th:text="${data.col9}"></p>
                </li>
                <li class="clear">
                    <h4>물리적(톤/일)</h4>
                    <p th:text="${data.col10}"></p>
                </li>
                <li class="clear">
                    <h4>생물학적(톤/일)</h4>
                    <p th:text="${data.col11}"></p>
                </li>
                <li class="clear">
                    <h4>고도(톤/일)</h4>
                    <p th:text="${data.col10}"></p>
                </li>
                <li class="clear">
                    <h4>유입 BOD</h4>
                    <p th:text="${data.col17}"></p>
                </li>
                <li class="clear">
                    <h4>유입 COD</h4>
                    <p th:text="${data.col19}"></p>
                </li>
                <li class="clear">
                    <h4>유입 ss</h4>
                    <p th:text="${data.col21}"></p>
                </li>
                <li class="clear">
                    <h4>유입 T-N</h4>
                    <p th:text="${data.col23}"></p>
                </li>
                <li class="clear">
                    <h4>유입 T-P</h4>
                    <p th:text="${data.col25}"></p>
                </li>
                <li class="clear">
                    <h4>유입총대장균군수</h4>
                    <p th:text="${data.col27}"></p>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <div class="tit">
            <button class="clear">
                <h3>방류<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>---</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>방류량</h4>
                    <p th:text="${data.col13}"></p>
                </li>
                <li class="clear">
                    <h4>물리적(톤/일)</h4>
                    <p th:text="${data.col14}"></p>
                </li>
                <li class="clear">
                    <h4>생물학적(톤/일)</h4>
                    <p th:text="${data.col15}"></p>
                </li>
                <li class="clear">
                    <h4>고도(톤/일)</h4>
                    <p th:text="${data.col16}"></p>
                </li>
                <li class="clear">
                    <h4>방류 BOD</h4>
                    <p th:text="${data.col18}"></p>
                </li>
                <li class="clear">
                    <h4>방류 COD</h4>
                    <p th:text="${data.col20}"></p>
                </li>
                <li class="clear">
                    <h4>방류 ss</h4>
                    <p th:text="${data.col22}"></p>
                </li>
                <li class="clear">
                    <h4>방류 T-N</h4>
                    <p th:text="${data.col24}"></p>
                </li>
                <li class="clear">
                    <h4>방류총대장균군수</h4>
                    <p th:text="${data.col28}"></p>
                </li>
                <li class="clear">
                    <h4>방류수소독방법</h4>
                    <p th:text="${data.col41}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역 수계</h4>
                    <p th:text="${data.col42}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역 지류</h4>
                    <p th:text="${data.col43}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역 세부단위구역</h4>
                    <p th:text="${data.col44}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역 지역구분</h4>
                    <p th:text="${data.col45}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역_중권역_명칭</h4>
                    <p th:text="${data.col46}"></p>
                </li>
                <li class="clear">
                    <h4>방류수역_중권역_목표수질(BOD)</h4>
                    <p th:text="${data.col47}"></p>
                </li>
            </ul>
        </div>
    </li>
    
    <li>
        <div class="tit">
            <button class="clear">
                <h3>연계처리량<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p>---</p>
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>분뇨(톤/일)</h4>
                    <p th:text="${data.col33}"></p>
                </li>
                <li class="clear">
                    <h4>축산(톤/일)</h4>
                    <p th:text="${data.col34}"></p>
                </li>
                <li class="clear">
                    <h4>침출수(톤/일)</h4>
                    <p th:text="${data.col35}"></p>
                </li>
                <li class="clear">
                    <h4>기타(톤/일)</h4>
                    <p th:text="${data.col36}"></p>
                </li>
            </ul>
        </div>
    </li>
</ul>