<ul class="depth1">
    <li>
        <div class="tit">
            <button class="clear on">
                <h3>폐기물처리시설<img src="/resources/images/main/arrow_icon.jpg" width="10" height="6" border="0" alt="" /></h3>
                <p th:if="${data.col2} =='2'" th:text="지정폐기물"></p>
                <p th:if="${data.col2} =='1'" th:text="사업장폐기물"></p>
                <input type="text" th:value="${data.col1}" style="display: none;">
            </button>
        </div>

        <div class="txt" style="display: block;">
            <ul class="depth2">
                <li class="clear">
                    <h4>폐기물종류</h4>
                    <p th:text="${data.col3}"></p>
                </li>
                <li class="clear">
                    <h4>폐기물코드</h4>
                    <p th:text="${data.col4}"></p>
                </li>
                <li class="clear">
                    <h4>업체명</h4>
                    <p th:text="${data.col5}"></p>
                </li>
                <li class="clear">
                    <h4>재활용업 등록형태</h4>
                    <p th:text="${data.col6}"></p>
                </li>
                <li class="clear">
                    <h4>대표자</h4>
                    <p th:text="${data.col7}"></p>
                </li>
                <li class="clear" style="height: 100%;">
                    <h4>주소</h4>
                    <p th:text="${data.col8}"></p>
                </li>
                <li class="clear">
                    <h4>전화번호</h4>
                    <p th:text="${data.col9}"></p>
                </li>
                <li class="clear">
                    <h4>종업원수</h4>
                    <p th:text="${data.col10}"></p>
                </li>
                <li class="clear">
                    <h4>재생제품</h4>
                    <p th:text="${data.col11}"></p>
                </li>
                <li class="clear" style="height: 100%;">
                    <h4>처리방법</h4>
                    <p th:text="${data.col12}"></p>
                </li>
            </ul>
        </div>
    </li>

</ul>